* {
    box-sizing: border-box;
}

body {
    background-color: rgba(104, 202, 241, 0.699);
    overflow: hidden;
}

.container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.rock-paper-scissor{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

.rock-paper-scissor img{
    max-width: 200px;
    max-height: 150px;
    padding: 10%;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 10%;
    
}
.results{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#result{
    font-size: 24px;

}

.resetButton{
    display: block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgba(246, 249, 250, 0.966);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5%;
}

.hidden{
    display: none;
}

#finalResult{
    font-size: 40px;
}
